{{extend 'layout.html'}}
{{total=0}}
<div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5 class="">Lista de Rotas de Cobrança ( {{=projeto.descricao}} )</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-link" href="{{=URL('acs_projeto','index', args=projeto.id)}}" style="color:#3b5998"><i class="fa fa-fw fa-1x py-1 fa-arrow-left"></i> Voltar</a>
          <a class="btn btn-link" href="{{=URL('adicionar_rota_cobranca', args=projeto.id)}}" style="color:#3b5998"><i class="fa fa-fw fa-1x py-1 fa-plus"></i> Adicionar Nova Rota de Cobrança</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th scope="col">Data Cobrança</th>
                  <th scope="col">Primeira Cidade</th>
                  <th scope="col" class="text-center">Q.Fichas</th>
                  <th scope="col" class="text-center">Total</th>
                  <th scope="col" class="text-center">Opção</th>
                </tr>
              </thead>
              <tbody>
                {{for row in rows:}}
                  {{if row.empresa:}}
                <tr>
                  <th>{{=row.data_inicio_cobranca.strftime('%d/%m/%Y')}}</th>
                  <td>{{=row.primeira_cidade}}</td>
                  <td class="text-center">{{=row.total_fichas}}</td>
                  <td class="text-center">
                      R$ {{="{:,.2f}".format(round(row.total_venda_praso,2)).replace(",","#").replace(".",",").replace("#",".")}}
                  </td>
                  <th class="text-center">
                    <a class="btn btn-link" href="{{=URL('acesso_vendas_particao', args=row.id)}}" style="color:#3b5998">
                      <i class="fa fa-fw fa-1x py-1 fa-pencil-square-o"></i>
                    </a>
                  </th>
                </tr>
{{total+=row.total_venda_praso}}
                  {{else:}}
                    {{row.empresa=row.projeto.empresa}}
                    {{row.update_record()}}
                {{redirect(URL('particoes', args=projeto.id))}}
                  {{pass}}
                {{pass}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
