{{extend 'layout.html'}}
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Aonde está o seu foco</h1>
        <blockquote>Se tudo que você foca expande, o que está expandindo?</blockquote>


        <!-- Preview Image -->
        <img class="img-fluid rounded" src="https://cdn.pixabay.com/photo/2016/01/27/01/23/camera-1163499_960_720.jpg" alt="">

        <hr>

     <p>
Foque em um único objetivo principal até dar certo.
</p><p>
O segredo da vida é uma coisa, uma única coisa (descobra o que é, e não desiste até dar certo) esse é o caminho mais próximo para realmente dar certo. Quando perdemos o foco, começamos a falhar. Identificar os cargos que precisa para uma mudança mais precisa, para alcançar o resultado, as vezes estamos muito focado, mas não, no que realmente importa.
</p><p>
Você pode encurtar a lista de tarefas para melhorar o resultado mais rápido, ser mais simples, pois todos nós temos o mesmo tempo por dia, por que algumas pessoas tem mais resultado que outras? 
</p><p>
Descubra as coisas mais importantes e foque nelas, essa é a única diferença, sucesso grandioso não consome tempo, nem mesmo muito desgasto, o sucesso vem de fazer poucas coisas com o maior resultado possível. É preciso fazer menos coisa para ter mais resultado, ser simples é um caminho fácil de seguir para ter resultados inimagináveis.

</p><p>
Conseguir resultados extraordinários.
</p><p>
Se resume em criar um efeito de uma progressão exponencial, sucesso extraordinário é sequencial e não simultâneo, quer dizer que vai aumentando aos poucos a partir de alguma decisão ou atividade inicial e não acontece tudo de uma só vez, sucesso é construído sobre sucesso, segundo em direção ao sucesso maior ainda, habilidade, conhecimento e dinheiro tudo isso é conquistado sequencialmente, de pouquinho à pouquinho.
</p><p>
As pessoas que avançam se concentram em uma única coisa de uma vez, empresas de sucesso tem um produto ou serviço que trás 80% do seu faturamento, forças competitivas fazem forças que se amplificam.
</p><p>
Quando você começa entender o conceito da única coisa, o ponto de vista de negócios muda completamente, pegue um conceito e aplique a uma pessoa e você verá que uma única pessoa pode fazer total diferença no resultado.
</p><p>
Ninguém se faz sozinho, todo mundo tem uma única pessoa que significa muito ou foi a primeira que começou a influenciar, treinar ou conduzir.

</p><p>
Uma paixão uma habilidade
</p><p>
Você tem que perseguir uma única coisa, o sucesso precisa de unidade de proposito, paixão intensa ou habilidade que se destaca muito em relação a todos os outros gostos ou habilidades. Paixão por algo trás um tempo acima do normal de dedicação em pratica e treinamento, que é traduzido em habilidade  e quando a habilidade é desenvolvida os resultados são melhores, resultados melhores trás mais divertimento e mais paixão e mais tempo investido.

</p><p>
As portas do mundo foram abertas, através da tecnologia sobram oportunidades, pode ser animador ou angustiante, atormentados e apressados a sensação que fazemos muito e temos poucos resultados, como tomar as melhores decisões? Você precisa de uma única coisa pra focar.
</p><p>
As mentiras do sucesso sabotam nossa crença nessas única coisa que devemos focar, qual o problema com a verdade? Tendemos a acreditar e mudar nosso comportamento de acordo com as coisas que tomamos como verdade, o problema é que hoje em dia temos verdades de mais, chegando pela internet, uma inundação de informações que nos faz ficar ansiosos o suficiente pra não focar em nada e ainda tomamos decisões baseadas em verdades inverdadeiras ignorando os princípios reais.

</p><p>
A mentira que tudo importa igualmente
</p><p>
As coisas que mais importam não podem ficar a mercê de coisas que importam menos.
</p><p>
No mundo real as coisas nunca são iguais, no mundo das conquistas a igualdade é mentira, aprenda priorizar as coisas para fazer no dia, o sucesso não é um jogo de quem faz mais.
</p><p>
Muito a ser feito em relação a nada, as cosias mais importantes não gritam mais alto, os empreendedores fazem pausas mais longas pra analisar o que realmente é mais importante, tem olhos pra o essencial, por isso fazem mais cedo o que os outros fazem mais tarde e fazem mais tarde o que os outros fazem mais cedo.
</p><p>
Não crie lista de tarefas, crie lista de sucessos, ela é menos e tem passos a passos, é mais logica e é a única que realmente pode lhe levar pra o resultado.
</p><p>
Pareto disse que 80% dos resultado advêm de 20% do esforço, poucos vitais e muitos triviais, essa é uma certeza da natureza e o segredo da produtividade. No mundo do sucesso as coisas não são iguais, a maioria do que você quer vem da minoria do que você faz, não se concentre em números.
</p><p>
Pensar grande, mas ser muito simples, pois uma única coisa pode mudar o rumo de tudo. Internalizar esse conceito é como ter magica na mão, não se preocupe em colecionar tarefas, a atividade central tem que ser a única coisa que vai cuidar. Nem tudo tem que ser feito diga não pra maior parte das coisas que aparecem. Fazer a coisa mais importante é sempre o mais importante.

</p><p>
A mentira de ser multitarefas
</p><p>
Fazer duas coisas ao mesmo tempo é não fazer nem uma delas, pessoas multitarefas convencem as pessoas mas são medíocres em tudo e são peritos em fazer coisas irrelevantes, fazer muita coisa ao mesmo tempo não é eficiente nem efetivo, ou não dá conta ou faz muito ruim.
</p><p>
O termo multitarefas é vindo de varias tarefas termo utilizado para computadores, nosso atenção é diferente pois vai de uma coisa pra outra, fazer malabarismo é uma ilusão isso não é ser multitarefas, o que eles fazem é uma alternância das bolas.
</p><p>
Canais cerebrais, quando fazemos varias coisas de uma vez abrimos vários canais, só conseguimos fazer coisas simultâneas quando as coisas que fazemos em segundo plano são automáticas, como andar e dirigir, e mesmo assim não temos como ter controle total, o foco acontece no top da mente como um holofote na mente, quando se coloca duas coisa uma delas ou as duas cai em relação a atenção. Dividir o foco é perder eficiência no resultado, mais stress e infelicidade.

</p><p>
A mentira de ter uma vida disciplinada.
</p><p>
Não precisamos de mais disciplina do que temos, só precisamos canalizar a disciplina que temos, a disciplina tem que ser controlada até que o habito tome o controle, a disciplina tem que ter uma função, e essa função é instalar um habito, trabalhar por algo até que o algo comece trabalhar pra você, o sucesso não é um passo a passo de tarefas,  as pessoas de sucesso parecem disciplinada por que instalaram hábitos e os hábitos deles fazem eles parecerem, o truque pra ter sucesso é encontrar o habito certo e ter disciplina suficiente pra instalar o habito.
</p><p>
Analisar energia é uma habilidade muito forte, pois instala hábitos mais fortes, simplifica a vida pra focar no que tem que fazer. A disciplina deve ser mantida por 66 dias em média até instalar o hábitos, os hábitos são chatos pra começar mas simples de serem mantidos, foque em um único habito que mude sua vida. Decida qual o habito certo e dedique todo o tempo e foco possível até instalarem. Construa um habito poderoso por vez, não seja disciplinado.

</p><p>
A mentira de ter a força de vontade à nossa disposição.
</p><p>
Por que fazer as coisas do jeito mais difícil? A maioria das pessoas fazem isso todos os dias, a força de vontade não está sempre a disposição, o sucesso e fracasso depende muito da força de vontade.
</p><p>
As melhores coisas vem pra aqueles que esperam, por isso você deve empregar bem a força de vontade, pois quando você tem, você consegue o que quer. Sua determinação vai sendo descarregada ao longo do processo, cada atitude que você toma dependendo da sua força de vontade vai desgastando, a força de vontade é limitado e tem que ser controlado, por isso devemos controlar em que gastamos. , o recurso é limitado, é como um músculo que precisa de repouso, tem muita força mas não tem resistência para permanecer durante muito tempo.
</p><p>
A força de vontade é um músculo mental que não volta a forma rapidamente e consomem boa parte do que comemos, alimentos que elevem os níveis de açúcar de forma equilibradas por mais tempo como carboidratos complexos é a alimentação que empreendedores mais consomem.
</p><p>
Tomar decisões repetidamente vai lhe arruinar, pois quando desgastamos entramos no modo padrão de decisões, dê a força de vontade só uma hora por dia, você precisa protegê-la, a determinação tem que ser reservada, preste atenção a ela, faça o que é mais importante quando ela estiver no máximo, as cosias que consomem sua força de vontade: implementar novos comportamentos, filtrar distrações, resistir a tentação, suprimir emoções, restringir a agressividade, suprimir impulsos, fazer testes, tentar impressionar os outros, lidar com o medo, fazer algo que não se gosta, escolher recompensas de longo prazo em detrimento das de curto prazo. 
</p><p>
Você precisa usar a força de vontade em duas coisa uma pra fazer a coisa mais importante nada distraindo, e durante o restante do dia pra não sabotar o que fez, faça o trabalho mais importante mais cedo antes de gastar sua força de vontade, seu autocontrole vai ser enfraquecido ao longo do dia.

</p><p>
A mentira da vida balanceada.
</p><p>
Equilíbrio é uma bobagem, procurar por isso é doloroso e decepcionante, equilíbrio não deve ser vivido como verbo, rejeite uma vida equilibrada, procure proposito, sentido e significado isso tratá resultado, tempo gasto em uma coisa é tempo perdido pra outro, não existe equilíbrio.
</p><p>
Nunca busque o equilíbrio pois o sucesso sempre se encontra nos extremos, o tempo não espera por ninguém, não perca tempo com coisas que não fazem sentido, empurre algo para o canto e poderá ficar lá permanentemente, tempo não é dinheiro tempo é vida, perder tempo é perder vida. Quando você joga com o tempo você faz uma aposta que as vezes não pode cumprir.
</p><p>
Substitua a palavra equilibrada por balanceada, tentar fazer tudo é furada, pois sempre vai ficar coisas pra fazer, a ideia de balancear é saber o que fazer e deixar coisas por fazer de forma proposital.
</p><p>
Viver é um habito de balancear, se refere em quanto tempo focar em cada uma das áreas, quando você começa confundir as ideias tudo começa ficar confuso.
</p><p>
A mentira do ser grande é ruim.
</p><p>
Somos impedidos de alcançar os nossos objetivos, quando você coloca grande na frase, retoma dificuldade, complicado e consome tempo, por algum motivo existe um medo pelo grande sucesso, como se isso lhe trouxessem coisas negativas, passamos a nos questionar se somos capazes, quando o grande é tomado como o mal, os pensamentos medíocres tomam de conta, ninguém conhece seu teto pra conquistas, então é irrelevante parar pra pensar nisso.
</p><p>
O grande é uma sala de espera para o que podemos realizar, abre as portas pra possibilidades e para fazer perguntas, além de destruir a zona de conforto.
</p><p>
Pensando grande os degraus da escada não foram feitos para descansar, as únicas ações que valem apena fazer são as que vem dos pensamentos de ser grande, cada nível de conquista vem do que você faz, de como você faz, e com quem você faz, quebre seu teto de conquista, amplie seus pensamentos de grandeza e alinhe seus pensamentos com o que você imaginou.
</p><p>
Fazer grandes perguntas podem intimidar, mas são mais libertadoras do que pensamos, as coisas são  podem ser mais fáceis ou mais difícil do que você imagina, quando você se torna grande na jornada você passa a ver os obstáculos anteriores pequenos pois você se torna grande.
</p><p>
Faça seu modo de pensar grande um habito, procure pessoas crescentes, associação é muito importante, expanda sua vida, persiga uma vida grandiosa e viva a melhor vida que você pode viver, conquista e abundancia aparecem pois são consequências naturais de fazer as coisas certas. Evite a pergunta do que fazer agora, aprenda fazer grandes perguntas, estipule objetivos acima do que quer, não se limite a sua pequena visão ou ao que você consegue ver, veja as coisas de uma forma diferente, pense em coisas que mais ninguém pensa, seja ousado, grandes ideias sem grandes atitudes não saem de lugar nem um, procure e modele outras pessoas, o fracasso faz parte do seu processo, resultados extraordinários são construídos encima de sucessos e encima de fracasso, veja até onde você pode expandir sua vida.

</p><p>
O mundo será o que você interpretar, (produtividade é a chave)
</p>

        <hr>

        <!-- Author -->
        <p class="lead">
          Autor
          <a href="#">Rogoberto Ribeiro</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Postagem dia 26 Mar, 2020 as 14:53 PM</p>

        <hr>
          <table style="width:100%">
            <tr>
                <td>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://rogoberto.pythonanywhere.com/aluminum/artigo/foco&title=Botões de compartilhamento"  target="_blank" title="Compartilhar no LinkedIn">
                        <i class="fa fa-linkedin fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a href="http://twitter.com/share?text=Botões de compartilhamento&url=https://rogoberto.pythonanywhere.com/aluminum/artigo/foco/"  target="_blank" data-role="shareLink" title="Compartilhar no Twitter">
                        <i class="fa d-inline fa-lg fa-twitter fa-2x"></i>
                    </a>
                </td>
                <td>

        <a href="https://www.facebook.com/sharer/sharer.php?u=https://rogoberto.pythonanywhere.com/aluminum/artigo/foco/" target="_blank" title="Compartilhar no Facebook">
            <i class="fa fa-facebook fa-2x"></i>
        </a>
        </td>
        <td>
        <a href="https://plus.google.com/share?url=https://rogoberto.pythonanywhere.com/aluminum/artigo/foco/"  target="_blank"  title="Compartilhar no Google ">
            <i class="fa fa-google-plus fa-2x"></i>
        </a>
        </td>
        <td>

        </td>
    </tr>
</table>


      </div>

     <div class="col-md-4">

       

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://rogoberto.pythonanywhere.com/aluminum/artigo/quebrei">Deu errado?</a>
                  </li>
                  <li>
                    <a href="https://rogoberto.pythonanywhere.com/aluminum/artigo/motivos">Seu motivo</a>
                  </li>
                  <li>
                    <a href="https://rogoberto.pythonanywhere.com/aluminum/artigo/principios">Nossos principios</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://go.hotmart.com/S24500447A">Curso Gestão</a>
                  </li>
                  <li>
                    <a>#</a>
                  </li>
                  <li>
                    <a>#</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Todas as coisas cooperam para aqueles que temem ao senhor</h5>
          <div class="card-body">
            Pessoas que vivem presas no passado ou no futuro não conseguem construir nada, foque no que você pode fazer agora
          </div>
        </div>
<h4>Precisa ter noções básicas?</h4>
            <a href="https://go.hotmart.com/S24500447A" rel="nofollow"><img src="https://c1.staticflickr.com/9/8242/27842259494_3f19960641_o.png" border="0" width="336" height="280" /></a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
