{{extend 'layout.html'}}
 <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Comece tudo com um motivo muito claro</h1>
        <blockquote>Grandes organizações grandes motivos.</blockquote>


        <!-- Preview Image -->
        <img class="img-fluid rounded" src="https://cdn.pixabay.com/photo/2020/01/04/05/31/business-4739815_960_720.jpg" alt="">

        <hr>

        <!-- Post Content -->
        
        <p>Motivação e ética de trabalho e mente cientifica mas .. só quem realmente começa pelo por que conseguem pois o proposito fala mais forte que todas as outras coisas.</p>
<p>O campo de batalha sempre é o mundo de negócios, nivelar o campo de jogo e fazer as coisas complicadas de maneira simples.</p>
<p>O que torna as empresas e pessoas especiais repedir o padrão de pensar primeiro no por que.</p>
<p>Inspirar pessoas é um dom, todo grande empreendimento necessita de pessoas com o mesmo foco, inspiração para ação é a chave para realizar grandes feitos, inspirar pessoas a mudar somente com o por que vindo primeiro.</p>
<p>Só existem lideres e liderados no mundo, ou você serve ou é servido, o grupo seleto de lideres inspiram, mas sempre se resume a motivar e influenciar pessoas. Ameças é um meio de motivação, bem como proposito e pertencimento também, quem lidera de verdade consegue levantar uma verdadeira legião de pessoas, capazes de suportar tudo e qualquer coisa para cumprir o proposito.</p>
<p>Os lideres se encontram em tantas atividades quanto podemos imaginar, são inovadores e conseguem transformar o local aonde se encontram, todos os lideres inspiradores tem coisas em comum eles se comunicam da mesma forma, e isso é totalmente diferente das outras pessoas.</p>
<p>Pessoas que acordam felizes para ir ao trabalho, são mais produtivos e conseguem agregar mais na vida das outras pessoas, pense sempre no por que das coisas.</p>

<p>O mundo que não começa pelo por que .</p>
<p>fazemos suposições de coisas ao nosso redor de fatos incompletos, nosso comportamento é afetado pelo que achamos que sabemos, somente mudando o nosso modo de pensar conseguiremos mudar nosso comportamento, como decisões são tomadas? O processo de coleta de dados as vezes é formal ou não, por que gostamos de tomar decisões fundamentadas, mas o impacto disso pode ser incorreto e ter um impacto grande ou não.</p>
<p>Só por que o resultado foi esperado não significa que pode ser replicado, pois as decisões sobre informações nunca estão tão acertadas. mesmo com uma porção grande de conselhos, as cosias podem dar errado, perceba isso de maneira intuitiva, pois quando as coisas não dao certo alguma cosia acabamos esquecendo, mesmo com todas as condições nas mãos não tem como saber o resultado.</p>
<p>As empresas que conquistam mais são as que recrutam pessoas que estão alinhadas com o mesmo proposito, o que não conseguimos enxergar é o que garante.</p>

<p>Recompensa e ameaças.</p>
<p>por que os clientes de bons lideres são seus clientes?.</p>
<p>A maioria das empresas não sabem o por que disso, só existem duas maneiras de influenciar, manipular ou inspirar, quando a empresa não sabe o por que que os clientes são seus cientes elas usam a manipulação pois funciona (gatilhos mentais, queima de preço).</p>
<p>Preço não entre na guerra de preço, pois quanto mais se faz mais fica difícil sair disso, a margem só abaixa e diminui a a margem pra aumentar a total atividade até deixar de ser lucrativo, o custo é muito alto, preço baixa sempre custa alguma coisa.</p>
<p>Promoções, a longo prazo só conduz é prejuízo pois é insustentável, transforma clientes em pessoas com expectativas que não existe preço cheio, promoções só funcionam no curto prazo.</p>
<p>Medo, trabalhar encima da crença das pessoas, de longe é a manipulação mais poderosa, empresas utilizam o medo para vender, caso você não compre correrá algum perigo. cuidado com as (advertências) .</p>
<p>promessas e tentações para se tornar quem gostaria de ser ou coisas que gostaria de ter, isso funciona mais com pessoas indisciplinadas. Isso faz o outro comprar mas… manter pessoas disciplinadas é bem mais difícil.</p>
<p>Pressão do grupo social, “se o produto é bom pra profissionais é bom pra você” levar o consumidor a acreditar que o seu produto realmente é melhor, “se ele usa deve ser bom”. Nosso desejo de ser como eles, fazer você sentir que está ficando pra trás.</p>
<p>Novidade e inovação, as pessoas confundem inovação com novidade, dificilmente uma inovação aparece, aparecem muito mais novidades e ferramentas que inovação, inovação quer dizer recriação.</p>

<p>O preço que você paga pelo dinheiro que ganha.</p>
<p>Liderança é quando os clientes continuam comprando, mesmo que você cometa algum erro, entenda que repetição é mais compras mas fidelidade é abrir mão de um preço melhor.</p>
<p>Manipulação gera números e não fidelidade, você precisa se contentar em ser bom, passar uma experiencia boa o bastante para que a pessoa possa indicar aos amigos.</p>
<p>Em épocas difíceis os clientes fieis que fazem total diferença. Se sentem parceiros, reduz custos e dá paz de espirito, sentimento de estar junto, você precisa se desvincular das manipulações.</p>
<p>Ajudar a o cliente tomar decisão está cada vez mais difícil, pois o mais hoje não é suficiente, os ganhos de curto prazo estão acabando com nossa saúde, nós deixando mais ansiosos, hoje os próprios manipuladores estão caindo na mesma armadilha.</p>

<p>Uma visão alternativa.</p>
<p>circulo dourado, inspirado na proporção áurea, formula matemática para a proporção perfeita, ajuda a compreender o que fazemos e por que fazemos, uma visão alternativa, para entender como organizações conseguem um nível de influencia muito alto, mostra como os lideres inspiraram a ação, usado como guia para ampliar liderança, vendas e marketing.</p>
<p>Tudo começa pelo por que, O que – todo mundo consegue identificar, Como – todos sabem os processos para serem explicados por que uma coisa é melhor que outra.</p>
<p>Por que – poucos sabem explicar, proposito causa e crença, por que você sai da cama toda manhã, os lideres e companhias inspirados se comunicam de dentro pra fora.</p>
<p>Sempre existe algo mais e é difícil descrever, pois o que tem haver com seu proposito, clientes compra o por que e não o que fazemos.</p>
<p>Tudo que uma companhia é, é uma estrutura, com gestores, vendedores, distribuidores e fabricantes, mas companhias grandes atraem os clientes pelo proposito, o produto sempre se torna parte do por que.</p>
<p>O padão se repete em tudo que a empresa ou grandes lideres fazem, fazer as coisas por nós e não por eles. As decisões sempre começam com o por que. Essa mudança não é tácita e sim filosófica.</p>
<p>Passe a ser uma companhia de causa e não de produto, empresas de produto trabalham com preço e viram comodit.</p>
<p>O estilo de vida vem em primeiro lugar, por isso o proposito atrai certo publico. O conceito de melhor é subjetivo, considerar o por que o produto existe e por que a pessoa precisa dele.</p>
<p>Quando os propósitos se alinham é impossível desconstruir a imagem de uma empresa ou pessoa, isso pode ser visto como os por quês alinhados. Só assim para atingir o apsi da fidelidade.</p>
<p>Não é a única maneira, mas a melhor maneira.</p>
<p>Quando o por que fica confuso fica difícil para se manter no sucesso duradouro e de longo prazo, retornar ao proposito inicial é a única coisa que realmente vai sustentar.</p>

<p>Não é opinião é biologia.</p>
<p>Nossa necessidade de pertencer é natural, nos sentimos seguros quando encontramos grupos que compartilham da mesma filosofia ou princípios, isso gera confiança quando percebemos valores e crenças em comum com frequência gastamos dinheiro para pertencer, quando os valores e crenças fazem parte das mesmas que as nossas inserirmos esses produtos ou serviços na nossa casa, não tem haver com produto e sim com pessoas.</p>
<p>Engraçado que nos também percebemos de longe e de maneira natural quando as coisas não tem a mesma pertinência e não compartilham da mesma, para usar um produto você precisa parecer com o conceito que foi passado, pois as pessoas se sentem ligados pelas crenças e valores.</p>

<p>As boas decisões não acontecem no seu coração.</p>
<p>A área mais nova é o neocortex analítico linguem, límbico comportamento humano, racionalizar as decisões não tem conexões com a linguagem, isso é sentido, não descrito, quando se sente que a decisão é a certa não se sabe descrever, as pessoas tem dificuldades de explicar o por que fazem do que fazem, as decisões do coração não conseguem ser explicadas, isso é tão forte que mesmo quando não tem logica a gente tem uma intuição que não se deve tomar essa decisão, por isso em teste de múltipla escolha tem que responder rápido pois quanto mais pensa mais erra.</p>
<p>Por isso criar imagem na cabeça dos clientes fazem brotar uma grande identidade, as decisões acontecem de dentro para fora, conquistar coração e mente, busque sempre a conquista de corações, pois é mais difícil mas sempre é mais assertivo, mas o correto mesmo é conquistar os dois, a arte da liderança é seguir seu coração.</p>
<p>Não é dar as pessoas o que eles querem e sim ajudar elas e enxergarem o que ela precisam, não é o que posso fazer por você e sim o que você pode fazer por mim. Tudo tem haver com o nível de certeza, criar um nível que podemos confiar em nós mesmos, por isso nos sentimos incomodados quando somos pressionados.</p>

<p>É o que você não consegue ver é o que realmente importa.</p>
<p>O por que do cliente nunca está visível, tem mais em uma tomada de decisões que podemos ver, existem decisões que damos mais fortes tem mais haver com sonhos e crenças que em decisões logicas, produtos são símbolos daquilo que acreditam e de quem são.</p>

<p>Clareza, disciplina e consistência.</p>
<p>A natureza adora equilíbrio, clareza do por que se você não sabe claramente definir o por que então por que as outras pessoa deveriam saber, a ação de inspirar inicial com a clareza do por que.</p>
<p>Uma vez que você sabe o por que vem o como, compreender o como fazer as coisa e a disciplina de fazer consistentemente define a força da organização, disciplina de nunca se desviar da sua causa, é impossível fazer as pessoas entenderem substantivos, as pessoas entendem verbos, são comandos para o cérebro e nos guiam como agir de maneira subconsciente.</p>
<p>A consistência do “o que”.</p>
<p>Tudo que você pensa e faz tem que estar pautado no o que as pessoas compra o por que você faz e por isso que as outras coisas tem que serem consistentes, significa que tudo que você pensa e faz é autentico.</p>
<p>Quando vendedores acreditam no que vendem eles exalam autenticidade, relacionamentos que não são fortes é por que falta crença.</p>

<p>A ordem correta.</p>
<p>o pro que fornecesse o contexto para as outras cosas por inspiram a agir, se você não sabe o por que é impossível entender o como.</p>
<p>Os princípios e valores que nos guia é parido pelos nossos por quês, a simplicidade tem que ter o seu imperativo.</p>
<p>Sempre há motivos das pessoas fazerem negocio com você mesmo não tendo nada haver com você, deixe de ser uma comodit, a diferenciação não vem do que você faz nem do como faz mas o por que faz e os clientes compartilham da mesma filosofia, você passa a ter fãs.</p>

<p>As decisões que tomamos tem mais haver com o que somos .</p>
<p>não convença as pessoas com coisas externas, pois o que realmente importa é quem ele é, o alinhamento do que, por que e como estão alinhados a autenticidade é absurda.</p>
<p>O ser humano sabe intuitivamente quando tem algo errado ou desalinhado.</p>

<p>Fazer negocio é como namorar.</p>
<p>Rejeitamos oferta por que a pessoa oferece algo que está desalinhado com quem somos.</p>

<p>Lideres precisam de seguidores.</p>
<p>Quando surge a segurança, se uma empresa maltrata os funcionários imagina como os funcionários tratam os clientes, confiança não vem do quadro racional, confiança é um sentimento que sentimos mesmo quando tudo começa dar errada, quando percebemos valor(valor é transmissão de confiança) falar do por que e iterar como o como para validar e o que para concretizar.</p>
<p>Liderar é ser seguido voluntariamente, uma companhia é uma coleção de pessoas com as mesmas crenças.</p>

<p>Formamos culturas, nada é mais forte para a construção e sobrevivência.</p>
<p>Existem pessoas desajustadas em sua própria cultura, como as pessoas se sentem em relação ao meio em que se encontra, as culturas não são melhores ou piores que outras são simplesmente diferentes.</p>
<p>Fazer negocio com pessoas que acreditam no que você acredita.</p> 
<p>O que unem pessoas são suas culturas.</p>
<p>Encontrando as pessoas que acreditam naquilo que você acredita.</p> 
<p>Sucesso é consequência natural, quando as pessoas certas estão nos lugares certos. Lideres tem a capacidade de encontrar pessoas compatíveis com o que você acredita. O segredo e estar próximo com os que tem a mesma paixão pelo seu por que.</p>
<p>Grandes empresas não contratam pessoas capacitadas e as motivas, encontra as motivadas e as capacitem.</p>

<p>Dê as pessoas uma catedral.</p>
<p>Noção de proposito e senso de realização, camaradagem e confiança trazem sucesso, o espirito que executam o trabalho é o que atraem outras pessoas, as pessoas não conseguem compreender o por que que isso acontece, obcecado pelo por que o sucesso simplesmente acontece.</p>

<p>Não se incomode com o que os outros pensam de você.</p>
<p>A inspiração acontece no limite, pagar muito garante pouco resultado, mais proposito garante resultado duradouro, dê as pessoas pelo que trabalharem, estimuladas todos os dias para dar vida a causa.</p>
<p>O foco não pode estar nos produtos e sim no por que dos clientes o foco nas pessoas, não exatamente nas pessoas ou no que as pessoas querem, mas sim como pode ajudar a pessoa.</p>

<p>Luta para superar uma dificuldade dá a luz a resultado, resolver problemas, inovar, vem de confiar no pessoal e acreditar na suas crenças.</p>
<p>Se as pessoas não cuidam do que é comum a todos, os benefícios da comunidade são corroídos.</p>
<p>Confiamos mais na familiaridade que na competência, somente quando indivíduos são capazes de confiar na cultura ou na organização eles assumiram riscos pessoais para fazer avanços nessas cultura.</p>
<p>A confiança entre a empresa e os funcionários que fazem uma empresa grande, sem isso o funcionário é uma pessoa que não se encaixa e só trabalha por ela mesmo. Apenas com confiança mutua uma empresa pode se tornar grande.</p>

<p>A confiança vem de coisas que você não vê.</p>
<p>São os outros que tem confiança que lhe garantem o poder de executar ou a autoridade para desenvolver, o tempo de pensar em você mesmo passou, o negocio é sempre sobre todos nós.</p>
<p>Grandes lideranças não tem haver com imposição nem intimidação, eles personificam uma posição de proposito que consegue inspirar pessoas ao redor. São respeitados tanto pelos que estão encima quanto pelos que estão embaixo, “não há nada que você possa fazer que eu não possa resolver”(dito com um sorriso e com respeito) Ganhar a confiança não é tentar impressionar ou outros e sim de se mostrar pronto a servir e resolver os problemas.</p>
<p>Organização com conjunto de crenças e valores fortes. A companhia tem que servir os que ela quer que os sirva.</p>

<p>a influencia dos outros.</p>
<p>confiamos mais nas pessoas que tem os mesmos interesses em comum, acreditamos que as pessoas sabe mais do que nós.</p> 
<p>As pessoas influenciam outras e ninguém está imune disso, como conseguir influenciadores suficiente falando de você.</p>

<p>como chegar ao ponto de virada.</p>
<p>não desafie a sabedoria convencional, como acontece o ponto de virada, por que um comunicador deveria falar sobre você? A maioria das pessoas só compram quando algum recomenda, quando se conquista 15% do mercado se está preparado pra entrar no mercado em massa, a ideia quando se transforma em uma mensagem se prolifera mais rápido.</p>

<p>Como mobilizar aqueles que acreditam.</p>
<p>Comece pelo “por que” mais saiba “como”, a energia empolga o carisma inspira, energia não é suficiente para manter uma equipe focada, energia é fácil de copiar e avaliar o carisma não pode ser facilmente copiado, lideres tem carisma por que tem clareza da causa maior que eles mesmos que os problemas maiores podem ser superados, somos capazes de encontrar meios de superar seus obstáculos, o otimismo que atrai.</p>
<p>Carisma comanda fidelidade a energia não.</p>

<p>O caminho escolhido, tudo começa com a inspiração, amplifique a fonte de inspiração, os que sabem o por que precisam dos que sabem como. As pessoas do por que são visionarias e os como se concentram no aqui e no agora, são melhores nas construções de estruturas.</p>
Um “por que” precisa de vários “comos”,  parceria de visão de futuro e talento.</p>

        <hr>

        <!-- Author -->
        <p class="lead">
          Autor
          <a href="#">Rogoberto Ribeiro</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Postagem dia 24 Mar, 2020 as 21:00 PM</p>

        <hr>


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

       

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://rogoberto.pythonanywhere.com/aluminum/artigo/quebrei">Deu errado?</a>
                  </li>
                  <li>
                    <a href="https://rogoberto.pythonanywhere.com/aluminum/artigo/motivos">Seu motivo</a>
                  </li>
                  <li>
                    <a href="https://rogoberto.pythonanywhere.com/aluminum/artigo/principios">Nossos principios</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://go.hotmart.com/S24500447A">Curso Gestão</a>
                  </li>
                  <li>
                    <a>#</a>
                  </li>
                  <li>
                    <a>#</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Todas as coisas cooperam para aqueles que temem ao senhor</h5>
          <div class="card-body">
            Pessoas que vivem presas no passado ou no futuro não conseguem construir nada, foque no que você pode fazer agora
          </div>
        </div>
<h4>Precisa ter noções básicas?</h4>
            <a href="https://go.hotmart.com/S24500447A" rel="nofollow"><img src="https://c1.staticflickr.com/9/8242/27842259494_3f19960641_o.png" border="0" width="336" height="280" /></a>
      </div>

    </div>
    <!-- /.row -->

  </div>
