{{extend 'layout.html'}}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Betinho Ribeiro" >

  <title>Quebrei meu negocio - Como Recuperar</title>

  
</head>


  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Fali financeiramente o que fazer agora? </h1>
        <blockquote>Como você pode se superar e retomar sua vida financeira e reconstrua qualquer negocio.</blockquote>


        <!-- Preview Image -->
        <img class="img-fluid rounded" src="https://cdn.pixabay.com/photo/2017/02/01/21/47/cube-2031512_960_720.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <blockquote class="blockquote">
          <p class="mb-0">Compreenda os aprendizados que os seus erros lhe trouxeram..</p>
          <footer class="blockquote-footer">Restaurar suas forças para uma investidade de
            <cite title="Source Title">Sucesso</cite>
          </footer>
        </blockquote>

        <p>De acordo com pesquisa de causas de uma empresa pode falir, com dados levantados pelo SEBRAE com aproximadamente 2 mil negócios, a inexistência de meditação antecipada, de certas atitudes relacionadas a visão de negocio de uma equipe administrativa de um empreendimento constituem as principais motivos que ocasionem o falecimento de uma empreitada.
        </p><p>
Muitas pessoas passaram e passam por esse status, compreendem o que estamos descrevendo. Além dos problemas, o que é mais valido é retomar a frente e iniciar novamente.</p><p>
Parar de seguir regras e agir por princípios é o ideal, pois princípios são eternos e as regras sempre podem mudar, construir um muro inabalável empilhando suas experiencias de fracassos e tomada de decisões erradas, vai lhe tornar mais forte e melhor.</p>

        <blockquote class="blockquote">
          <p class="mb-0">Absorver conteúdo e torná-lo prático.</p>
          <footer class="blockquote-footer">Todas as coisas são fruto de
            <cite title="Source Title">Ação</cite>
          </footer>
        </blockquote>

        <p>Compreenda quais os motivos reais que lhe fizeram chegar nessa situação, quais foram os erros que poderiam não serem cometidos, se foi a administração financeira que lhe fez perder capital, falta de capacitação e treinamento na equipe tanto de serviço, produção ou vendas, falta de publicidade, a chave é encontrar qual foi o erro.</p>

        <p>Nós precisamos compreender, quais são os pontos que precisamos melhorar na empreitada que enfrentaremos, não ter temor em iniciar novamente, de se profissionalizar nas áreas que precisamos, se relacionar com pessoas que passaram por onde queremos passar quais foram seus desafios e pontos que devemos ficar atentos.</p>
        
        
        <blockquote class="blockquote">
          <p class="mb-0">Projetando novas experiencias.</p>
          <footer class="blockquote-footer">Novos caminhos, novas experiencias e novos
            <cite title="Source Title">Resultados</cite>
          </footer>
        </blockquote>

        <p>Existem administradores que entendem que o empreendimento não pode mais ter continuação, tanto por problemas pessoais como problemas com parceiros de negocio, e que isso basta para encerrarem suas atividades. No entanto o nível muito baixo de capital faz qualquer empresario ficar sem muitas opções.</p>

        <p>A prioridade que devemos dar a certas reflexões do “por que” faltou o dinheiro, a politica de preços poderia não ser a mais adequada para o local ou momento? Falta de um diferencial atrativo que pudesse chamar atenção dos potenciais clientes ou ações de fidelização de clientes, planejar um novo empreendimento mas só que dessa vez você tem mais experiencia que é algo que não se compra com dinheiro e sim com quilômetros rodados.</p>


<p>Fique sempre atento pois muitas vezes ficar desatento a um ponto importante significa um negocio falido antes mesmo de iniciar, por isso é muito importante verificar quais os hábitos de consumo do seu publico, o local que você precisa se instalar, equipe qualificada ou uma nova parceria de negocio, fornecedores, capital de giro para bancar pelo menos os 6 primeiros meses, as leis jurídicas que regem o remo de atuação, diferencial competitivo e principalmente como você pode deixar sua marca na cabeça de cada cliente que atender, sua identidade registrada.</p>

<p>Tocar um negocio de maneira assertiva significa muito além de tudo isso certificar-se de cadas despesa e as receitas e o que cada uma delas representa para o fluxo de caixa; entender bem sobre margem de lucro praticada e que o cliente está cada vez mais sensível, ações que promovem seu negocio na internet para trair a cartela de clientes que você precisa, ficar próximo a equipe de desenvolvimento, produção e/ou atendimento, compreender as demandas do mercado e sazonalidade, capacitar colaboradores e nunca ficar pra trás em relação a melhoria continua de produto e atendimento.</p>




<p>O seu roteiro administrativo é tão importante quando o seu comercial (atendimento ao cliente), pois hoje em dia auto faturamento não significa negocio saudável, você precisa sempre ficar com o seu negocio no azul, é muito improvável sua empresa prosperar sem compreender das atividades administrativas necessárias básicas.</p>
 <blockquote class="blockquote">
          <p class="mb-0">Trilhas para reiteração do negocio.</p>
          <footer class="blockquote-footer">Renovar as formas para 
            <cite title="Source Title">Prosperar</cite>
          </footer>
        </blockquote>

<p>Para torna-se um empresario bem-sucedido, você precisa ter uma personalidade empreendedora, conheça os números não saia correndo com medo deles, os desafios encontrados são oportunidades disfarçadas de problemas, coisas insignificantes faz o capital acabar, quem tem clareza pode negociar com mais assertividade, mantenha sua equipe com uma sintonia de crescimento, sua meta não pode ser a sobrevivência. </p>
<p>Faça upgrade de todas as suas habilidades e as habilidades que o seu negocio precisa esse é o caminho mais curto para melhorar o desempenho e produtividade da empresa, vivemos num mundo de constante mudança, as cosias mudam em uma velocidade muito grande, uma das formas de driblar isso são as parcerias de negocio, fazer negócios que trara benéficos mútuos, assim você nunca se sentirá solitário e terá pessoas com o mesmo intuito próximo de você, procure pessoas mais fortes que você que podem lhe dar informações que normalmente você não conseguiria só.</p>
        <hr>

        <!-- Author -->
        <p class="lead">
          Autor
          <a href="#">Rogoberto Ribeiro</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Postagem dia 23 Mar, 2020 as 18:00 PM</p>

        <hr>


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

       

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://rogoberto.pythonanywhere.com/aluminum/artigo/quebrei">Deu errado?</a>
                  </li>
                  <li>
                    <a href="https://rogoberto.pythonanywhere.com/aluminum/artigo/motivos">Seu motivo</a>
                  </li>
                  <li>
                    <a href="https://rogoberto.pythonanywhere.com/aluminum/artigo/principios">Nossos principios</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://go.hotmart.com/S24500447A">Curso Gestão</a>
                  </li>
                  <li>
                    <a>#</a>
                  </li>
                  <li>
                    <a>#</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Todas as coisas cooperam para aqueles que temem ao senhor</h5>
          <div class="card-body">
            Pessoas que vivem presas no passado ou no futuro não conseguem construir nada, foque no que você pode fazer agora
          </div>
        </div>
<h4>Precisa ter noções básicas?</h4>
            <a href="https://go.hotmart.com/S24500447A" rel="nofollow"><img src="https://c1.staticflickr.com/9/8242/27842259494_3f19960641_o.png" border="0" width="336" height="280" /></a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
