{{extend 'layout.html'}}
{{total_apro=0}}
{{total_novo=0}}

<div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5 class="">Listagem de Devoluções ( {{=sub_venda.primeira_cidade}} | {{=sub_venda.projeto.descricao}})</h5>
            <h6>
                Cobrador {{=sub_venda.auth_user.first_name}}
            </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-link" style="color:#3b5998" href="{{=URL('acs_cobranca','relatorio_cobranca', args=sub_venda.id)}}">
              <i class="fa fa-fw fa-1x py-1 fa-arrow-left"></i> 
              Voltar
            </a>
          <a class="btn btn-link" href="{{=URL('criar_devolucao', args=[sub_venda.id])}}" style="color:#3b5998">
              <i class="fa fa-fw fa-1x py-1 fa-plus"></i> 
              Adicionar Devolução
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
                <div class="table-responsive">
            <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th>Data Registro</th>
                                <th>Descrição</th>
                                <th>Q.Peças</th>
                                <th>Custo Aprov.</th>
                                <th>Custo Devol.</th>
                                <th>Recolhida</th>
                                <th>Opção</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for row in rows:}}
                            <tr>
                                <th scope="row">{{=("{}/{}/{}".format(row.data_registro.day,row.data_registro.month,row.data_registro.year))}}</th>
                                <td>{{=row.descricao}}</td>
                                <td>{{=row.q_pecas}}</td>
                                <td>R$ {{="{:,}".format(round(row.custo_aproveitamento,1)).replace(",",".")}}0</td>
                                <td>R$ {{="{:,}".format(round(row.custo_pecas_novas,1)).replace(",",".")}}0</td>
                                {{if row.recolhido:}}
                                <td><i class="fa fa-thumbs-up" aria-hidden="true" style="color:#3b5998"></i></td>
                                {{else:}}
                                <td><i class="fa fa-thumbs-down" aria-hidden="true" style="color:#ff3300"></i></td>
                                {{pass}}
                                <td>
                                    <a class="btn btn-link" href="{{=URL('acessar_devolucao', args=[row.id])}}" style="color:#3b5998">
                                        <i class="fa fa-fw fa-1x py-1 fa-share-square-o "></i>
                                    </a>
                                </td>
                            </tr>
{{total_apro+=row.custo_aproveitamento}}
{{total_novo+=row.custo_pecas_novas}}
                            {{pass}}
                            <tr>
                                <th>#</th>
                                <th>#</th>
                                <th>#</th>
                                <th>R$ {{="{:,}".format(round(total_apro,1)).replace(",",".")}}0</th>
                                <th>R$ {{="{:,}".format(round(total_novo,1)).replace(",",".")}}0</th>
                                <th>#</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>


{{sub_venda.total_custo_devolucao_nova=total_novo}}
{{sub_venda.total_custo_devolucao_aproveitamento=total_apro}}
{{sub_venda.update_record()}}
