{{extend 'layout.html'}}
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="" contenteditable="true">Lista de Projetos&nbsp;</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                    <div class="card-header">Lista de Projetos de Vendas</div>
                    <div class="card-body" >
                      <ul class="list-group list-group-flush">
                        
                      {{for row in rows:}}
                          
                          <li class="list-group-item "><i class="fa fa-arrow-circle-right  text-primary mr-2"></i>
                          <a href="{{=URL('acesso_projeto', args=row.id)}}">{{=row.descricao}}</a>
                        </li>
                      {{pass}}
                  </ul>
                    </div>
                  </div>
                  <br>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
