{{extend 'layout.html'}}

{{totalcaderno=0}}
{{totalprazo=0}}
{{totalfichas=0}}
{{totalentrada=0}}
{{totaldevolucao=0}}
{{fichas_devolvidas=0}}

{{caderno=0}}
{{prazo=0}}
{{fichas=0}}
{{entrada=0}}
{{devolucao=0}}
        <div class="row">
        <div class="col-md-12">
          <h5 class="">Lista de Vendas ( {{=vendedor.nome.replace("cfrd","")}} )</h5>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-link" href="{{=URL('index', args=projeto.id)}}" style="color:#3b5998"><i class="fa fa-fw fa-1x py-1 fa-arrow-left"></i> Voltar</a>
          {{if not projeto.venda_finalizada:}}
          {{if not 'cfrd' in vendedor.nome:}}
            <a class="btn btn-link" href="{{=URL('alterar_vendedor', args=vendedor.id)}}" style="color:#3b5998"><i class="fa fa-fw fa-1x py-1 fa-cog"></i> Alterar dados do Vendedor</a>
          {{pass}}
          
          {{if (usuario.id==11)or(usuario.id==1):}}
                  <td id="noprint" class="text-center">
                    {{if 'cfrd' in vendedor.nome:}}
                    <a class="btn btn-link" style="color:#55acee"  href="{{=URL('conferir', args=vendedor.id)}}"><i class="fa fa-fw fa-1x py-1 fa-check" ></i> Bloqueado </a>
                    {{else:}}
                            <a class="btn btn-link" href="{{=URL('conferir', args=vendedor.id)}}" style="color:#dd4b39"><i class="fa fa-fw fa-1x py-1 fa-square-o"></i> Desbloqueado </a>
                    {{pass}}
                        </td>
                  {{pass}}
                  {{pass}}
        </div>
    </div>

            {{for row1 in rows_sub:}}
            <hr class="border bg-danger" >

 {{if (not projeto.venda_finalizada):}}
{{if (not row1.cobranca_iniciada):}}

                {{if (usuario.id!=2324):}}
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-link" href="{{=URL('inserir_venda', args=[vendedor.id,row1.id])}}" style="color:#3b5998" ><i class="fa fa-fw fa-1x py-1 fa-plus"></i> Adicionar venda na rota de {{=row1.primeira_cidade}}</a>
    </div>
</div>
{{pass}}{{pass}}{{pass}}

          <h5 class="">Lista de Vendas ( {{=vendedor.nome.replace("cfrd","")}} ) na rota de {{=row1.primeira_cidade}}</h5>
            <div class="table-responsive">
            <table class="table table-striped table-borderless">
            {{a=0}}
                    <thead class="bg-secondary">
                        <tr>
                            <th>#</th>
                            <th>Data</th>
                            <th>V.Prazo</th>
                            <th>Fichas</th>
                            <th>Caderno</th>
                            <th>Entrada</th>
                            <th>Ficha.D</th>
                            <th>V. Devolvido</th>
                        </tr>
                    </thead>
                        <tbody>
                            {{acaderno=0}}
                            {{aprazo=0}}
                            {{afichas=0}}
                            {{afichas_devolvidas=0}}
                            {{aentrada=0}}
                            {{adevolucao=0}}
                        {{for row in rows_vend:}}
                        {{if row.sub_venda == row1.id:}}
                            <tr>
                                {{a+=1}}

                                {{row.venda_praso=row.venda_praso-row.valor_devolvido}}
                                {{row.quant_fichas=row.quant_fichas-row.quant_fichas_devolvidas}}
                                {{caderno+=row.vale_caderno}}
                                {{prazo+=row.venda_praso}}
                                {{fichas+=row.quant_fichas}}
                                {{fichas_devolvidas+=row.quant_fichas_devolvidas}}
                                {{entrada+=row.entradas_venda}}
                                {{devolucao+=row.valor_devolvido}}

                                {{acaderno+=row.vale_caderno}}
                                {{aprazo+=row.venda_praso}}
                                {{afichas+=row.quant_fichas}}
                                {{afichas_devolvidas+=row.quant_fichas_devolvidas}}
                                {{aentrada+=row.entradas_venda}}
                                {{adevolucao+=row.valor_devolvido}}
                                <td>{{=a}}</td>
                                <td>
                                {{if not projeto.venda_finalizada:}}
                                  {{if (not row1.cobranca_iniciada):}}
                                  <a href="{{=URL('alterar_venda', args=row.id)}}">
                                    {{=row.data_venda.strftime('%d/%m/%Y')}}
                                  </a>
                                    {{else:}}
                  {{=row.data_venda.strftime('%d/%m/%Y')}}
                                    {{pass}}
                                  {{else:}}
                                  {{=row.data_venda.strftime('%d/%m/%Y')}}
                                  {{pass}}

                                </td>
                                <td>R$ {{="{:,}".format(round(row.venda_praso,1)).replace(",",".")}}0</td>
                                <td>{{=row.quant_fichas}}</td>
                                <td>R$ {{="{:,}".format(round(row.vale_caderno,1)).replace(",",".")}}0</td>
                                <td>R$ {{="{:,}".format(round(row.entradas_venda,1)).replace(",",".")}}0</td>
                                <td>{{=row.quant_fichas_devolvidas}}</td>
                                <td>R$ {{="{:,}".format(round(row.valor_devolvido,1)).replace(",",".")}}0</td>
                              {{if auth.user.id==1:}}
{{if (not row1.cobranca_iniciada):}}
                              <td><a class="btn btn-link" href="{{=URL('trocar', args=row.id)}}">Trocar</a></td>
                              {{pass}}
                              {{pass}}
                            </tr>
                            {{pass}}
                            {{pass}}
                            <th>#</th>
                                        <th>Total</th>
                                        <th>R$ {{="{:,}".format(round(aprazo,1)).replace(",",".")}}0</th>
                                        <th>{{=afichas}}</th>
                                        <th>R$ {{="{:,}".format(round(acaderno,1)).replace(",",".")}}0</th>
                                        <th>R$ {{="{:,}".format(round(aentrada,1)).replace(",",".")}}0</th>
                                        <th>  {{=afichas_devolvidas}}</th>
                                        <th>R$ {{="{:,}".format(round(adevolucao,1)).replace(",",".")}}0</th>
                            </tbody>

                    </table>


                {{totalcaderno+=caderno}}
                {{totalprazo+=prazo}}
                {{totalfichas+=fichas}}
                {{totalentrada+=entrada}}
                {{totaldevolucao+=devolucao}}
                </div>
<div style="page-break-after: always"></div>
            {{pass}}
                <hr>
                <div class="table-responsive">

                 <table class="table table-bordered table-sm table-striped">

                                <thead>
                                     <tr>
                            <th>V.Prazo</th>
                            <th>Fichas</th>
                            <th>Caderno</th>
                            <th>Entrada</th>
                            <th>Ficha.D</th>
                            <th>V. Devolvido</th>
                        </tr>
                                     </thead>
                                <tbody>
                                    <tr>
                                        <th>R$ {{="{:,}".format(round(prazo,1)).replace(",",".")}}0</th>
                                        <th>{{=fichas}}</th>
                                        <th>R$ {{="{:,}".format(round(caderno,1)).replace(",",".")}}0</th>
                                        <th>R$ {{="{:,}".format(round(entrada,1)).replace(",",".")}}0</th>
                                        <th>  {{=fichas_devolvidas}}</th>
                                        <th>R$ {{="{:,}".format(round(devolucao,1)).replace(",",".")}}0</th>
                                    </tr>
                                </tbody>
                            </table>
                </div>

{{vendedor.total_entradas=entrada}}
{{vendedor.total_fichas=fichas}}
{{vendedor.total_vale_caderno=caderno}}
{{vendedor.total_vendas=prazo}}
{{vendedor.update_record()}}
<hr>
<div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            {{comissao=vendedor.total_vendas}}
                          {{if comissao > 0:}}
                          {{comissao=vendedor.total_vendas*vendedor.comissao_venda/100}}
            {{pass}}
            <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary">
              {{=vendedor.nome.replace('cfrd','')}}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Venda R$ {{="{:,.2f}".format(round(prazo,1)).replace(",","#").replace(".",",").replace("#",".")}}
            </li>
            {{saldo=comissao-vendedor.vale_saida-vendedor.total_vale_caderno}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Comissão R$ {{="{:,.2f}".format(round(comissao,1)).replace(",","#").replace(".",",").replace("#",".")}}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Vale R$ {{="{:,.2f}".format(round(vendedor.vale_saida,1)).replace(",","#").replace(".",",").replace("#",".")}}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Caderno R$ {{="{:,.2f}".format(round(caderno,1)).replace(",","#").replace(".",",").replace("#",".")}}
            </li>
            {{if saldo>0:}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Saldo R$ {{="{:,.2f}".format(round(saldo,1)).replace(",","#").replace(".",",").replace("#",".")}}
            </li>
            {{else:}}
            <li class="list-group-item d-flex justify-content-between align-items-center text-danger">
              Dívida R$ {{="{:,.2f}".format(round(saldo,1)).replace(",","#").replace(".",",").replace("#",".")}}
            </li>
            {{pass}}
          </ul>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">{{=projeto.descricao}}</div>
            <div class="card-body">
              <h5>{{=vendedor.nome.replace('cfrd','')}}</h5>
              <p>{{=vendedor.descricao}}</p>
            </div>
          </div>
        </div>
      </div>
