{{extend 'layout.html'}}
{{total=0}}
{{a=1}}
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-outline-light" href="{{=URL('acesso_particao_cobranca', args=[sub_venda.id])}}"> <i class="fa text-danger fa-arrow-left  fa-2x"></i></a>
        <a class="btn btn-outline-light" href="{{=URL('inserir_registro', args=[sub_venda.id,tipo])}}"><i class="fa text-success fa-plus fa-2x"></i></a>
    </div>
</div>

<div class="input-group">
    <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search" style="border-right: none;">
    <div class="input-group-append">
      <div class="btn" href="{{=URL('lista_registros', args=[sub_venda.id,tipo,type])}}"><i class="fa fa-search"></i></div>
    </div>
  </div>
        {{=tipo}} da cobrança de {{=sub_venda.primeira_cidade}}
        
            <table class="table table-bordered table-sm table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Data</th>
                  <th>Descrição</th>
                  <th>Valor</th>
                  <th>Alterar</th>
                </tr>
              </thead>
              <tbody>
                  {{for row in rows:}}
                <tr>
                  <th>{{=a}}</th>
                    {{a+=1}}
                  <td>{{=("{}/{}/{}".format(row.data_inicio.day,row.data_inicio.month,row.data_inicio.year))}}</td>
                  <td>{{=row.descricao}}</td>
                  <td>R$ {{="{:,}".format(round(row.valor,1)).replace(",",".")}}0</td>
                  <td><a href="{{=URL('alterar_registro', args=[row.id,tipo])}}"><i class="fa text-warning fa-exchange" ></i></a></td>
                    {{total+=row.valor}}
                  {{pass}}
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Total</th>
                  <th>R$ {{="{:,}".format(round(total,1)).replace(",",".")}}0</th>
                  <td>#</td>
                </tr>
              </tbody>
            </table>
          </div>
{{if tipo=="Recebimento":}}
{{sub_venda.total_recebido=total}}
{{sub_venda.update_record()}}
{{pass}}

{{if tipo=="Deposito":}}
{{sub_venda.total_deposito=total}}
{{sub_venda.update_record()}}
{{pass}}

{{if tipo=="Caderno":}}
{{sub_venda.total_caderno_cobrador=total}}
{{sub_venda.update_record()}}
{{pass}}
