{{extend 'layout.html'}}
{{from datetime import *}}

{{if usuario.id==1:}}
<a class="btn btn-link" href="{{=URL('lista_empresas', args=usuario.id)}}" style="color:#3b5998"><i class="fa fa-fw fa-1x py-1 fa-plus"></i> Lista Empresas</a>
{{pass}}

            <div class="py-5" >
    <div class="container">

        <h2 class="p-2">{{=empresa.nome}} <small class="text-muted">{{=usuario.first_name}}</small></h2>
        <div class="row p-3">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <center>
                  <i class="fa fa-fw fa-1x py-1 fa-5x fa-list-ul text-primary"></i>
                </center>
                <div class="card-body">
                  <h4 class="card-title">Projetos de Venda e Cobrança</h4>
                  <p class="card-text">Listagem de todos os prjetos de Vendas, definição de metas, da estratégia e das táticas de vendas, das métricas</p> <a href="{{=URL('lista_projetos',args=empresa.id*12)}}" class="btn btn-primary btn-block">Acessar</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <center>
                  <i class="fa fa-fw fa-1x py-1 fa-5x fa-list-ol text-primary"></i>
                </center>
                <div class="card-body">
                  <h4 class="card-title">Logins de Acesso ao Sistema</h4>
                  <p class="card-text">Listagem de Todos os ligins da empresa, armazena de forma segura, usuário e senhas usados no acesso, do sistema</p> <a href="{{=URL('lista_logins',args=empresa.id)}}" class="btn btn-primary btn-block">Acessar</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <center>
                  <i class="fa fa-fw fa-1x py-1 fa-5x text-primary fa-credit-card "></i>
                </center>
                <div class="card-body">
                  <h4 class="card-title">Pagamentos do Sistema</h4>
                  <p class="card-text">Listagem de Todos os pagamentos do Sistema, Ele funciona como um intermediador de pagamentos.</p> <a href="{{=URL('acs_principal','lista_pagmt_sistema',args=empresa.id*12)}}" class="btn btn-primary btn-block">Acessar</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <center>
                  <i class="fa fa-fw fa-1x py-1 fa-5x fa-dollar text-primary"></i>
                </center>
                <div class="card-body">
                  <h4 class="card-title">Recebimentos e Cobrança</h4>
                  <p class="card-text">Todos os recebimentos das cobranças, agora, vamos aos modelos de carta de cobrança que você pode utilizar</p> <a href="{{=URL('acs_cobranca','cobranca_periodo',args=[data.month,data.year,empresa.id])}}" class="btn btn-primary btn-block">Acessar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <center>
                  <i class="fa fa-fw fa-1x py-1 fa-5x fa-newspaper-o text-primary"></i>
                </center>
                <div class="card-body">
                  <h4 class="card-title">Cheques e Pagamentos</h4>
                  <p class="card-text">Ordens de pagamento da empresa cheques e pagamentos futuros, provisionamento. autorização para que a retirada.</p> <a href="{{=URL('acs_cheques','index',args=[data.month,data.year,empresa.id])}}" class="btn btn-primary btn-block">Acessar</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <center>
                  <i class="fa fa-fw fa-1x py-1 fa-5x fa-car text-primary"></i>
                </center>
                <div class="card-body">
                  <h4 class="card-title">Veiculos e Transportes</h4>
                  <p class="card-text">Controle de Transportes e quilometragem entre pediodos de utilização, menutenção e/ou saida e chegada de viagem de vendas e cobranças.</p> <a href="{{=URL('acs_transporte','index',args=empresa.id)}}"class="btn btn-primary btn-block">Acessar</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <center>
                  <i class="fa fa-fw fa-1x py-1 fa-5x text-primary fa-exclamation-triangle"></i>
                </center>
                <div class="card-body">
                  <h4 class="card-title">Despesas Locais Desvinculadas</h4>
                  <p class="card-text">Divididas por classes para administrar localmente dentro dos projetos de custo, essas despesas não estão incluidas no relatorio de investimentos.</p> <a href="{{=URL('acs_despesa_local','lista_despesas',args=empresa.id)}}" class="btn btn-primary btn-block">Acessar</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <center>
                  <i class="fa fa-fw fa-1x py-1 fa-5x fa-money text-primary"></i>
                </center>
                <div class="card-body">
                  <h4 class="card-title">Depositos de Cobrança</h4>
                  <p class="card-text">Acesso a todos os depositos de todas as equipes de cobrança separadas por periodo de mêses visão geral de fluxo de caixa de entrada em conta.</p> <a href="{{=URL('acs_cobranca','depositos_periodo',args=[data.month,data.year,empresa.id])}}" class="btn btn-primary btn-block">Acessar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
