{{extend 'layout.html'}}

{{listadata=[]}}
{{lista=[]}}
{{total=0.0}}
<div class="py-5">
    <div class="container">
      <div class="row  text-center">
        <div class="col-md-12">
          <h3 class="mb-3">{{=projeto.descricao}}</h3>
          <p>{{=tipodesp}} {{=projeto.descricao}}</p>
        </div>
      </div>
<div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6 my-1" >
              <a  class="btn btn-outline-danger btn-block"  href="{{=URL('projeto','acesso_projeto', args=projeto.id)}}">
                <i class="fa  fa-arrow-left  fa-1x"></i>
              </a>
            </div>
            <div class="col-md-6 col-6 my-1" >
        {{if (not projeto.venda_finalizada) or (tipodesp=="Despesa_Local"):}}
              <a class="btn btn-outline-success btn-block"  href="{{=URL('criar_classe_despesa', args=[projeto.id,tipodesp])}}">
                <i class="fa  fa-user-plus fa-1x"></i>
              </a>
        {{pass}}
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descrição</th>
                                <th>Total</th>
                                {{if (not projeto.venda_finalizada) or (tipodesp=="Despesa_Local"):}}
                                <th>Alterar</th>
                                {{pass}}
                            </tr>
                        </thead>
                        <tbody>
                            {{a=1}}
                            {{for row in rows:}}
                            <tr>
                                <td>{{=a}}</td>
                                <td>
                                    
                                    <a class="btn btn-outline-primary text-left btn-block" href="{{=URL('acesso_despesa', args=[row.id,tipodesp])}}">{{=row.descricao}}</a>
                                </td>
                                <td>R$ {{="{:,.2f}".format(round(row.total_classe,2)).replace(",","#").replace(".",",").replace("#",".")}}</td>
                                {{if (not projeto.venda_finalizada) or (tipodesp=="Despesa_Local"):}}
                                <td>
                                    <a class="btn btn-outline-warning btn-block" href="{{=URL('alterar_classe_despesa', args=[row.id,tipodesp])}}"><i class="fa fa-exchange" ></i></a>
                                </td>
                                {{pass}}
                                {{listadata+=[a]}}
                                {{lista+=[row.total_classe]}}
                                {{a+=1}}
                            </tr>
                            {{total+=row.total_classe}}
                            {{pass}}
                            <tr>
                                <th>#</th>
                                <th>#</th>
                                <th>R$ {{="{:,.2f}".format(round(total,2)).replace(",","#").replace(".",",").replace("#",".")}}</th>
                                {{if (not projeto.venda_finalizada) or (tipodesp=="Despesa_Local"):}}
                                <th></th>
                                {{pass}}
                            </tr>
                        </tbody>
                    </table>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
{{if (not projeto.venda_finalizada) or (tipodesp=="Despesa_Local"):}}
{{if tipodesp=="Despesa_Local":}}
{{projeto.total_despesa_local=total}}
{{projeto.update_record()}}

{{elif tipodesp=="Despesa_Venda":}}
{{projeto.total_despesa_venda=total}}
{{projeto.update_record()}}


{{pass}}
{{pass}}
