{{extend 'layout.html'}}
{{total=0.0}}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-outline-light" href="{{=URL('acessar_despesa', args=[classe_despesa.projeto,tipodesp])}}"> <i class="fa text-danger fa-arrow-left  fa-2x"></i></a>
        <a  class="btn btn-outline-light" href="{{=URL('criar_desp', args=[classe_despesa.id,tipodesp])}}"><i class="fa text-success fa-plus fa-2x"></i></a>
        {{if ("DIÁRIAS" in classe_despesa.descricao) and (len(rows)>0):}}
        <a class="btn btn-primary" href="{{=URL('criar_desp', args=[classe_despesa.id,tipodesp,1])}}">Repitir Valor</a>
        {{pass}}
    </div>
</div>


                {{if len(rows)>0:}}
                Despesas de {{=tipodesp}}
                {{else:}}
                Você precisa cadastrar uma despesa
                {{pass}}
<div class="table-responsive">
           <table class="table table-striped table-borderless table-sm">
                <thead class="thead-dark">
					  <tr>
						<th>DESCRIÇÃO</th>
						<th>DATA</th>
                          <th>TOTAL</th>
					  </tr>
					</thead>
					<tbody>
						{{for row in rows:}}
					  <tr>
                          {{if row.descricao=="":}}
                          {{row.descricao="DESPESA"}}
                          {{row.update_record()}}
                          {{pass}}
                          <td>
                              <a href="{{=URL('alterar_desp', args=[row.id,tipodesp])}}">{{=row.descricao}}</a>
                              </td>

						<td> {{=("{}/{}/{}".format(row.data_inicio.day,row.data_inicio.month,row.data_inicio.year))}}</td>
                      <td>R$ {{="{:,}".format(round(row.valor,1)).replace(",",".")}}0</td>
					  </tr>
                        {{total+=row.valor}}
					  {{pass}}
                         <tr>
						<th>#</th>
						<th>#</th>
                          <th>R$ {{="{:,}".format(round(total,1)).replace(",",".")}}0</th>
					  </tr>
					</tbody>
				  </table>
</div>
{{classe_despesa.total_classe=total}}
    {{classe_despesa.update_record()}}
