{{extend 'layout.html'}}
{{if len(rows)>0:}}
<div class="section">
    <div class="container">
<h5>{{=empresa.nome}}</h5>
        <div class="row">
            <div class="col-md-6">
                 <H3>
                    Projetos de Venda
                </H3>
                 <a class="btn btn-outline-light"  href="{{=URL('default','criar_projeto', args=empresa.id)}}">
            <i class="fa text-primary fa-plus-square fa-2x" ></i>
        </a>
               
<div class="table-responsive" >
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">DESCRIÇÃO</th>
                <th scope="col">VENDA</th>
               <th scope="col">ALTERAR</th>
            </tr>
          </thead>
          <tbody>
            {{for row in rows:}}
                  <tr>
                    <td><a  href="{{=URL('projeto','acesso_projeto', args=row.id)}}">{{=row.descricao}}</a></td>
                      <td>R$ {{="{:,}".format(round(row.total_venda_prazo,1)).replace(",",".")}}0</td>
                    <td><a href="{{=URL('default','alterar_projeto', args=row.id)}}"><i class="fa mr-2 fa-exchange text-warning" ></i></a></td>
                  </tr>
                  {{pass}}
          </tbody>
        </table>
      </div>
{{pass}}
<hr>{{a=1}}
                <div class="hidden-xs">
                    
                {{if empresa.id==8:}}
                Usuarios e Login's
              <ul class="list-group list-group-flush">
                  {{for ro in rowsuser:}}
                  <li class="list-group-item">{{=a}} - {{=ro.nome}}</li>
                  {{a+=1}}
                  {{pass}}
                </ul>  
                {{pass}}
                    
                </div>
      </div>
            <div class="border border-danger col-md-6">
                <h3>
                    Despesas Locais
                </h3>
                <a  class="btn btn-outline-light" href="{{=URL('despesa','criar_classe_despesa_local', args=[empresa.id])}}"><i class="fa text-success fa-plus fa-2x"></i></a>
                <div class="table-responsive" >
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">DESCRIÇÃO</th>
                <th scope="col">VALOR</th>
               <th scope="col">ALTERAR</th>
            </tr>
          </thead>
          <tbody>
            {{for row in rowsd:}}
                  <tr>
                    <td><a  href="{{=URL('despesa','acessar_despesa_local', args=row.id)}}">{{=row.descricao}}</a></td>
                      <td>R$ {{="{:,}".format(round(row.total_classe,1)).replace(",",".")}}0</td>
                    <td><a href="{{=URL('despesa','alterar_classe_despesa_local', args=row.id)}}"><i class="fa mr-2 fa-exchange text-warning" ></i></a></td>
                  </tr>
                  {{pass}}
          </tbody>
        </table>
            </div>
        {{if empresa.id==8:}}
        <h5>Pagamentos Sistema</h5>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Mês</th>
                  <th>Descrição</th>
                  <th>Valor</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td>15/04/2020</td>
                  <td>Inicio</td>
                  <td>R$ 0,00</td>
                  <td>Mês 0</td>
                </tr>
                <tr>
                  <td>15/05/2020</td>
                  <td>Dispensado</td>
                  <td>R$ 0,00</td>
                  <td>Dispensado</td>
                </tr>
                <tr>
                  <td>15/06/2020</td>
                  <td>Deposito caixa 29/06/2020</td>
                  <td>R$ 500,00</td>
                  <td>Quitado</td>
                </tr>
                  <tr>
                  <td>15/07/2020</td>
                  <td>Entregue em mão 06/08/2020</td>
                  <td>R$ 500,00</td>
                  <td>Quitado</td>
                </tr>
                
                <tr>
                  <td><a href="https://bit.ly/ALFS-15082020">15/08/2020</a></td>
              <td><a href="https://bit.ly/ALFS-15082020">à Vencer</a></td>
                  <td><a href="https://bit.ly/ALFS-15082020">R$ 500,00</a></td>
                  <td><a href="https://bit.ly/ALFS-15082020">...</a></td>
                </tr>
                <tr>
                  <td>15/09/2020</td>
                  <td>##</td>
                  <td>R$ 500,00</td>
                  <td>...</td>
                </tr>
                <tr>
                  <td>15/10/2020</td>
                  <td>##</td>
                  <td>R$ 500,00</td>
                  <td>...</td>
                </tr>
                <tr>
                  <td>15/11/2020</td>
                  <td>##</td>
                  <td>R$ 500,00</td>
                  <td>...</td>
                </tr>
                <tr>
                  <td>15/12/2020</td>
                  <td>##</td>
                  <td>R$ 500,00</td>
                  <td>...</td>
                </tr>
              </tbody>
            </table>
          </div>
            {{pass}}
      </div>
  </div>
      </div>
