{{extend 'layout.html'}}
{{a=1}}
{{totalvale=0}}
    <a href="{{=URL('acesso_funcionario', args=funcionario.projeto)}}"> <i class="fa text-danger fa-arrow-left  fa-2x"></i></a>
    <a href="{{=URL('inserir_vale', args=funcionario.id)}}"><i class="fa text-success fa-plus fa-2x"></i></a>
      
                {{if len(rows)>0:}}
                Vales de {{=funcionario.nome}}
                {{else:}}
                {{=funcionario.nome}} ainda não pegou vale de caderno
                {{pass}}
                <div class="table-responsive">
                    <table class="table table-striped table-borderless table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descrição</th>
                                <th>Data</th>
                                <th>Valor</th>
                                <th>Alterar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for row in rows:}}
                            <tr>
                                <td>{{=a}}</td>
                                {{a+=1}}
                                <td>{{=row.descricao}}</td>
                                <td>{{=("{}/{}/{}".format(row.data_vale.day,row.data_vale.month,row.data_vale.year))}}</td>
                                <td>R$ {{="{:,}".format(round(row.valor,1)).replace(",",".")}}0</td>
                                {{totalvale+=row.valor}}
                                <td><a href="{{=URL('alterar_vale', args=row.id)}}"><i class="fa text-warning fa-exchange" ></i></a></td>
                                {{pass}}
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>#</th>
                                <th>#</th>
                                <th>R$ {{="{:,}".format(round(totalvale,1)).replace(",",".")}}0</th>
                                <th>#</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
{{funcionario.total_vale_caderno=totalvale}}
{{funcionario.update_record()}}
